<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <style>

    </style>
</head>
<body data-csrf-token="{inject:csrf.token}">

<form class="testForm">
	<input type="hidden" name="method" value="POST" />
	<fieldset>
		<legend>POST</legend>
		
		<input type="checkbox" id="postIncludeToken" name="includeToken" checked>
		<label for="postIncludeToken">Include Token </label>
		
		<input type="checkbox" id="postBadToken" name="badToken">
		<label for="postBadToken">Bad Token</label>
		
		<button type="submit">Submit</button>
	</fieldset>
</form>
<form class="testForm">
	<input type="hidden" name="method" value="PUT" />
	<fieldset>
		<legend>PUT</legend>
		
		<input type="checkbox" id="putIncludeToken" name="includeToken" checked>
		<label for="putIncludeToken">Include Token </label>
		
		<input type="checkbox" id="putBadToken" name="badToken">
		<label for="putBadToken">Bad Token</label>
		
		<button type="submit">Submit</button>
	</fieldset>
</form>
<form class="testForm">
	<input type="hidden" name="method" value="PATCH" />
	<fieldset>
		<legend>PATCH</legend>
		
		<input type="checkbox" id="patchIncludeToken" name="includeToken" checked>
		<label for="patchIncludeToken">Include Token </label>
		
		<input type="checkbox" id="patchBadToken" name="badToken">
		<label for="patchBadToken">Bad Token</label>
		
		<button type="submit">Submit</button>
	</fieldset>
</form>
<form class="testForm">
	<input type="hidden" name="method" value="DELETE" />
	<fieldset>
		<legend>DELETE</legend>
		
		<input type="checkbox" id="deleteIncludeToken" name="includeToken" checked>
		<label for="deleteIncludeToken">Include Token </label>
		
		<input type="checkbox" id="deleteBadToken" name="badToken">
		<label for="deleteBadToken">Bad Token</label>
		
		<button type="submit">Submit</button>
	</fieldset>
</form>



<hr />
<div id="results">

</div>








<script src="/jquery-3.7.1.min.js"></script>

<script>
	let results = $("#results");

	function sendRequest(formJq){
		let method = formJq.find('input[name=method]').val();
		
		let headers = {
		};
		
		let includeToken = formJq.find('input[name=includeToken]').is(":checked");
		let badToken = formJq.find('input[name=badToken]').is(":checked");
		
		if(includeToken) {
			let token = $("body").data("csrf-token");
			console.log("Including token: ", token);
			
			if (badToken) {
				console.log("breaking token");
				token += "fooo";
			}
			
			headers = {
				"X-CSRF-TOKEN": token
			}
		}
		
		
		
		$.ajax({
			url: "/hello",
			method: method,
			headers: headers,
			success: function(response) {
				
				results.prepend(
					$('<p>Success!</p>')
						.append(
							" " + method + " " +
							(includeToken ? (badToken?"Bad Token":"Token") : "No Token") +
							" / " + response
						)
				);
			},
			error: function(xhr, status, error) {
				results.prepend(
					$('<p>Fail!</p>')
						.append(
							method + " " +
							(includeToken ? (badToken?"Bad Token":"Token") : "No Token")
						)
				);
			}
		});
	}

	$(".testForm").on("submit", function (e){
		e.preventDefault();
		let formJq = $(e.target);
		sendRequest(formJq);
	});


</script>



</body>
</html>
