<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <style>

    </style>
</head>
<body data-csrf-token="{inject:csrf.token}">

<div style="display: flex">
	<div>
		<h2>JSON Submission</h2>
		<form class="testJsonForm">
			<input type="hidden" name="method" value="GET" />
			<fieldset>
				<legend>GET</legend>
				
				<input type="checkbox" id="getJsonIncludeToken" name="includeToken" checked>
				<label for="getJsonIncludeToken">Include Token </label>
				
				<input type="checkbox" id="getJsonBadToken" name="badToken">
				<label for="getJsonBadToken">Bad Token</label>
				
				<button type="submit">Submit</button>
			</fieldset>
		</form>
		<form class="testJsonForm">
			<input type="hidden" name="method" value="POST" />
			<fieldset>
				<legend>POST</legend>
				
				<input type="checkbox" id="postJsonIncludeToken" name="includeToken" checked>
				<label for="postIncludeToken">Include Token </label>
				
				<input type="checkbox" id="postJsonBadToken" name="badToken">
				<label for="postJsonBadToken">Bad Token</label>
				
				<button type="submit">Submit</button>
			</fieldset>
		</form>
		<form class="testJsonForm">
			<input type="hidden" name="method" value="PUT" />
			<fieldset>
				<legend>PUT</legend>
				
				<input type="checkbox" id="putJsonIncludeToken" name="includeToken" checked>
				<label for="putJsonIncludeToken">Include Token </label>
				
				<input type="checkbox" id="putJsonBadToken" name="badToken">
				<label for="putJsonBadToken">Bad Token</label>
				
				<button type="submit">Submit</button>
			</fieldset>
		</form>
		<form class="testJsonForm">
			<input type="hidden" name="method" value="PATCH" />
			<fieldset>
				<legend>PATCH</legend>
				
				<input type="checkbox" id="patchJsonIncludeToken" name="includeToken" checked>
				<label for="patchJsonIncludeToken">Include Token </label>
				
				<input type="checkbox" id="patchJsonBadToken" name="badToken">
				<label for="patchJsonBadToken">Bad Token</label>
				
				<button type="submit">Submit</button>
			</fieldset>
		</form>
		<form class="testJsonForm">
			<input type="hidden" name="method" value="DELETE" />
			<fieldset>
				<legend>DELETE</legend>
				
				<input type="checkbox" id="deleteJsonIncludeToken" name="includeToken" checked>
				<label for="deleteJsonIncludeToken">Include Token </label>
				
				<input type="checkbox" id="deleteJsonBadToken" name="badToken">
				<label for="deleteJsonBadToken">Bad Token</label>
				
				<button type="submit">Submit</button>
			</fieldset>
		</form>
		
	</div>
	<div>
		<h2>HTML Forms</h2>
		
		<form class="testHtmlForm" method="GET" action="/sub/html">
			<fieldset>
				<legend>GET</legend>
				
				<input type="checkbox" id="getHtmlIncludeToken" name="includeToken" checked>
				<label for="getHtmlIncludeToken">Include Token </label>
				
				<input type="checkbox" id="getHtmlBadToken" name="badToken">
				<label for="getHtmlBadToken">Bad Token</label>
				
				<button type="submit">Submit</button>
			</fieldset>
		</form>
		
		<form class="testHtmlForm" method="POST" action="/sub/html">
			<fieldset>
				<legend>POST</legend>
				
				<input type="checkbox" id="postHtmlIncludeToken" name="includeToken" checked>
				<label for="postHtmlIncludeToken">Include Token </label>
				
				<input type="checkbox" id="postHtmlBadToken" name="badToken">
				<label for="postHtmlBadToken">Bad Token</label>
				
				<button type="submit">Submit</button>
			</fieldset>
		</form>
		
		<form class="testHtmlForm" method="POST" action="/sub/html/put">
			<input type="hidden" name="_method" value="PUT" />
			<fieldset>
				<legend>PUT</legend>
				
				<input type="checkbox" id="putHtmlIncludeToken" name="includeToken" checked>
				<label for="putHtmlIncludeToken">Include Token </label>
				
				<input type="checkbox" id="putHtmlBadToken" name="badToken">
				<label for="putHtmlBadToken">Bad Token</label>
				
				<button type="submit">Submit</button>
			</fieldset>
		</form>
		
		<form class="testHtmlForm" method="POST" action="/sub/html/patch">
			<input type="hidden" name="_method" value="PATCH" />
			<fieldset>
				<legend>PATCH</legend>
				
				<input type="checkbox" id="patchHtmlIncludeToken" name="includeToken" checked>
				<label for="patchHtmlIncludeToken">Include Token </label>
				
				<input type="checkbox" id="putHtmlBadToken" name="badToken">
				<label for="patchHtmlBadToken">Bad Token</label>
				
				<button type="submit">Submit</button>
			</fieldset>
		</form>
		
		
	</div>
	
	
</div>




<hr />
<div id="results">
	{#if method.or(false)}
		<p>Successful form submission! {method}</p>
	{/if}
</div>








<script src="/jquery-3.7.1.min.js"></script>

<script>
	let results = $("#results");

	function sendRequest(formJq){
		let method = formJq.find('input[name=method]').val();
		
		let headers = {
		};
		
		let includeToken = formJq.find('input[name=includeToken]').is(":checked");
		let badToken = formJq.find('input[name=badToken]').is(":checked");
		
		if(includeToken) {
			let token = $("body").data("csrf-token");
			console.log("Including token: ", token);
			
			if (badToken) {
				console.log("breaking token");
				token += "fooo";
			}
			
			headers = {
				"X-CSRF-TOKEN": token
			}
		}
		
		
		
		$.ajax({
			url: "/sub/json",
			method: method,
			headers: headers,
			withCredentials: false,
			contentType: "application/json; charset=utf-8",
			data: { "foo": "bar" },
			success: function(response) {
				
				results.prepend(
					$('<p>Success!</p>')
						.append(
							" " + method + " " +
							(includeToken ? (badToken?"Bad Token":"Token") : "No Token") +
							" / " + response
						)
				);
			},
			error: function(xhr, status, error) {
				results.prepend(
					$('<p>Fail!</p>')
						.append(
							method + " " +
							(includeToken ? (badToken?"Bad Token":"Token") : "No Token")
						)
				);
			}
		});
	}

	$(".testJsonForm").on("submit", function (e){
		e.preventDefault();
		let formJq = $(e.target);
		sendRequest(formJq);
	});
	
	$(".testHtmlForm").on("submit", function (e){
		let formJq = $(e.target);
		let includeToken = formJq.find('input[name=includeToken]').is(":checked");
		let badToken = formJq.find('input[name=badToken]').is(":checked");
		
		if(includeToken) {
			formJq.append(
				$('<input type="hidden">')
					.attr("name", "{inject:csrf.parameterName}")
					.val("{inject:csrf.token}" + (badToken?"foo":""))
			);
		}
		console.log("Setup form for sub.")
	});
	
	
	
	
	


</script>



</body>
</html>
